.App {
  min-height: 100vh;
  text-align: center;
  align-items: center;
  background-color: #169a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  display: flex;
  color: black;
  margin-bottom: 20px;
  align-items: left;
  flex-direction: column;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  background-color: royalblue;
} */

.HomePage {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #169a;
}

.AboutPage {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #169a;
}

.MusicServicesPage {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #169a;
}

.ContactPage {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #169a;
}

.SignUpSignInPage {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #169a;
}

.SignUpSignInPage > .container {
  width: 40%;
  height: 450px;
  color: black;
  background-color: 'transparent';
  border: 2px solid black;
}
.container a {
  color: black;
}

.empty-box {
  margin-top: 0px;
	height: 50px;
}

.empty-box2 {
  margin-top: 0px;
	height: 25px;
}

.empty-box3 {
  margin-top: 0px;
	height: 50px;
}

.SignUpTab {
  justify-content: center;
}

.SignInTab {
  justify-content: left;
}

.form-control {
  margin: 20px 0;
}

.AccountPage {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #169a;
}

.App-link {
  color: #61dafb;
}

footer {
  margin-top: 30px;
  text-align: center;
}
