.form_container {
	padding-top: 70px;
	padding-bottom: 30px;
}
.login_container {
	border: 2px solid #c7c3c3;
	max-width: 500px;
	padding: 30px;
	border-radius: 0.25rem;
	margin: 0 auto;
	background-color: #f8f9fa;
}
.login_submit_button {
	background-color: #f68e1e;
	padding: 0.5rem 1rem;
	color: #ffffff;
	float: right;
	transition: transform 450ms;
}
.login_submit_button:hover {
	transform: scale(1.05);
}
.login_label {
	font-weight: 600;
	color: #eb8927;
}
.body_content_container {
	background-image: url("../images/login_background.jpg");
	background-repeat: repeat-x repeat-y;
}
